{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new
{% endblock %}

{% block body %}

    <h1>Create New Page</h1>
    <form action="{% url 'createnew' %}" method="post" class="flex flex-column">
        {% csrf_token %}
        {% if exists %}
            <p>This entry already exists</p>
        {% endif %}
        <div class="d-flex flex-column w-50">
            {{ form }}
        </div>
        <input type="submit" class="btn btn-outline-primary mt-sm-2">
    </form>

{% endblock %}